.node {
  border-radius: var(--mantine-radius-default);
  display: flex;
  align-items: center;
  @mixin hover {
    background-color: var(--mantine-color-gray-0);
  }

  input {
    position: relative;
    top: rem(1);
    min-height: unset;
    height: unset;
    line-height: unset;
  }
}

.selected {
  background-color: var(--mantine-color-gray-1);
}

.dragging {
  opacity: 0.4;
}

.chevron {
  top: rem(-1px);
  position: relative;
  transition: transform 200ms ease;

  &[data-direction='down'] {
    transform: rotate(90deg);
  }
}
