$delay: 0.3s;

@keyframes contextmenu_fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes contextmenu_fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.contextmenu_willEnter-fade {
  animation: contextmenu_fadeIn $delay ease;
}

.contextmenu_willLeave-fade {
  animation: contextmenu_fadeOut $delay ease;
}
