$delay: 0.3s;

@keyframes contextmenu_flipInX {
  from {
    transform: perspective(800px) rotate3d(1, 0, 0, 45deg);
  }

  to {
    transform: perspective(800px);
  }
}

@keyframes contextmenu_flipOutX {
  from {
    transform: perspective(800px);
  }

  to {
    transform: perspective(800px) rotate3d(1, 0, 0, 45deg);
    opacity: 0;
  }
}

.contextmenu_willEnter-flip {
  backface-visibility: visible !important;
  transform-origin: top center;
  animation: contextmenu_flipInX $delay;
}

.contextmenu_willLeave-flip {
  transform-origin: top center;
  animation: contextmenu_flipOutX $delay;
  backface-visibility: visible !important;
}
