.root {
  --_titlebar-action-color: var(--mantine-color-dark-4);
  --_titlebar-action-background-color: var(--mantine-color-white);

  button {
    border: none;
  }

  margin-left: auto;
  &:where([data-os='windows']) {
    button {
      cursor: default;
      width: rem(46px);
      height: 2rem;
      background-color: var(--_titlebar-action-background-color);
      color: var(--_titlebar-action-color);

      @mixin hover {
        --_titlebar-action-background-color: alpha(
          var(--mantine-color-black),
          0.1
        );

        &:where([data-close]) {
          --_titlebar-action-background-color: var(--mantine-color-red-8);
          --_titlebar-action-color: var(--mantine-color-white);
        }
      }
    }
  }

  &:where([data-os='darwin']) {
  }
}
