.root {
  --_titlebar-action-color: var(--mantine-color-dark-4);
  --_titlebar-action-background-color: var(--mantine-color-white);

  &:where([data-os='windows']) {
    margin-left: auto;
    button {
      cursor: default;
      border: none;
      width: rem(58px);
      height: 100%;
      background-color: var(--_titlebar-action-background-color);
      color: var(--_titlebar-action-color);

      @mixin hover {
        --_titlebar-action-background-color: alpha(
          var(--mantine-color-black),
          0.1
        );

        &:where([data-close]) {
          --_titlebar-action-background-color: var(--mantine-color-red-8);
          --_titlebar-action-color: var(--mantine-color-white);
        }
      }
    }
  }

  &:where([data-os='darwin']) {
    button {
      border: 1px solid #0000001f;
      text-align: center;
      border-radius: 9999px;
      width: rem(12px);
      height: rem(12px);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: #0009;

      &:nth-child(1) {
        background-color: #ff544d;
      }
      &:nth-child(2) {
        background-color: #ffbd2e;
      }
      &:nth-child(3) {
        background-color: #28c93f;
      }
    }
  }
}
