.main {
  position: fixed;
  opacity: 0;
  width: max-content;
  user-select: none;
  background-color: var(--publish-backdrop-color-default);
  box-sizing: border-box;
  box-shadow: var(--publish-color-context-menu-border);
  border-radius: var(--mantine-radius-default);
  padding: rem(4px);
  z-index: 999;
  &::before {
    content: '';
    border-radius: var(--mantine-radius-sm);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: var(--publish-backdrop-filter);
  }
}

.sub {
  composes: main;
  position: absolute;
  pointer-events: none;
  transition: opacity 0.256s;
  top: calc(-1 * rem(4px));
  left: 100%;
  backdrop-filter: var(--publish-backdrop-filter);

  &:where([data-position='bottom']) {
    bottom: calc(-1 * rem(4px));
    top: unset;
  }

  &:where([data-position='right']) {
    right: 100%;
    top: unset;
  }
}

.subFocusOpen {
}

.itemFeedback {
  animation: feedback 0.12s both;
}

.item {
  cursor: pointer;
  width: 100%;
  position: 'relative';

  border-radius: var(--mantine-radius-default);
  color: var(itemColor, var(--mantine-color-text));
  font-size: var(--mantine-font-size-sm);
  padding: calc(var(--mantine-spacing-xs) / 1.5) var(--mantine-spacing-sm);
  background-color: fallbackVar(itemBg, transparent);
  display: flex;
  align-items: center;
  white-space: nowrap;
  opacity: fallbackVar(itemOpacity, 1);
}

.subItem {
  position: relative;
}

.itemFoucs {
}

.subFocus {
  opacity: 1;
  pointer-events: initial;
}

.leaveDisabled {
  pointer-events: none;
}

@keyframes feedback {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: 'translateY(10px)';
  }
  to {
    opacity: 1;
    transform: 'translateY(0)';
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: 'translateY(0)';
  }
  to {
    opacity: 0;
    transform: 'translateY(10px)';
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: 'scale3d(0.3, 0.3, 0.3)';
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: 'scale3d(0.3, 0.3, 0.3)';
  }
}
