.root {
  position: relative;
}

.typographyStylesProvider {
  padding: 0;
  margin: 0;

  & li > p {
    margin: 0;
  }

  & li {
    text-indent: 5px;
    margin: var(--mantine-spacing-xs) 0;
  }

  & ul[data-type='taskList'] {
    list-style: none;
    padding-left: 0;
    p {
      margin-top: rem(-1px);
      margin-bottom: 0;
    }

    li {
      display: flex;
      margin-top: var(--mantine-spacing-xs);

      & > label {
        flex: 0 0 auto;
        user-select: none;
        input {
          margin: 0;
          position: relative;
          left: rem(-3px);
        }
      }

      > div {
        flex: 1 1 auto;
      }

      ul li,
      ol li {
        display: list-item;
      }

      ul[data-type='taskList'] > li {
        display: flex;
        margin-bottom: 0;
      }
    }
  }

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & p {
    margin-top: 0;
  }
}

.content {
  background-color: var(--mantine-color-body);
  border-radius: var(--mantine-radius-default);

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & p {
    margin-top: 0;
  }

  & :global(.ProseMirror) {
    outline: 0;
    padding: var(--mantine-spacing-md);
  }

  & :global(.ProseMirror > *:last-child) {
    margin-bottom: 0;
  }

  & :global(.ProseMirror p.is-editor-empty:first-of-type::before) {
    content: attr(data-placeholder);
    pointer-events: none;
    user-select: none;
    float: left;
    height: 0;
    color: var(--mantine-color-placeholder);
  }

  & :global(pre) {
    background-color: var(--_code-bg);
    color: var(--_code-color);
    font-family: var(--mantine-font-family-monospace);
    border-radius: var(--mantine-radius-default);
    padding: var(--mantine-spacing-md) var(--mantine-spacing-xl);

    & code {
      background: none !important;
      color: inherit;
      font-size: var(--mantine-font-size-sm);
      padding: 0;
    }

    & :global(.hljs-comment),
    & :global(.hljs-quote) {
      color: var(--_code-color-comment);
    }

    & :global(.hljs-variable),
    & :global(.hljs-template-variable),
    & :global(.hljs-attribute),
    & :global(.hljs-tag),
    & :global(.hljs-regexp),
    & :global(.hljs-link),
    & :global(.hljs-name),
    & :global(.hljs-selector-id),
    & :global(.hljs-selector-class) {
      color: var(--_code-color-var);
    }

    & :global(.hljs-number),
    & :global(.hljs-meta),
    & :global(.hljs-built_in),
    & :global(.hljs-builtin-name),
    & :global(.hljs-literal),
    & :global(.hljs-type),
    & :global(.hljs-params) {
      color: var(--_code-color-number);
    }

    & :global(.hljs-string),
    & :global(.hljs-symbol),
    & :global(.hljs-bullet) {
      color: var(--_code-color-var);
    }

    & :global(.hljs-title),
    & :global(.hljs-section) {
      color: var(--_code-color-title);
    }

    & :global(.hljs-keyword),
    & :global(.hljs-selector-tag) {
      color: var(--_code-color-keyword);
    }

    & :global(.hljs-emphasis) {
      font-style: italic;
    }

    & :global(.hljs-strong) {
      font-weight: 700;
    }
  }

  @mixin light {
    --_code-bg: var(--mantine-color-gray-0);
    --_code-color: var(--mantine-color-gray-9);
    --_code-color-comment: var(--mantine-color-gray-5);
    --_code-color-var: var(--mantine-color-red-7);
    --_code-color-number: var(--mantine-color-blue-7);
    --_code-color-title: var(--mantine-color-pink-7);
    --_code-color-keyword: var(--mantine-color-violet-7);
  }

  @mixin dark {
    --_code-bg: var(--mantine-color-dark-8);
    --_code-color: var(--mantine-color-dark-1);
    --_code-color-comment: var(--mantine-color-dark-2);
    --_code-color-var: var(--mantine-color-red-5);
    --_code-color-number: var(--mantine-color-cyan-5);
    --_code-color-title: var(--mantine-color-yellow-5);
    --_code-color-keyword: var(--mantine-color-violet-3);
  }
}

.linkEditorDropdown {
  background-color: var(--mantine-color-body);
}

.fn {
  background-color: var(--_fn-bg);
  color: var(--_fn-color);
  padding: var(--_fn-spacing, calc(var(--mantine-spacing-xs) / 1.5));
  width: 100%;
  display: flex;
  justify-content: var(--_fn-justify-content, start);
  align-items: center;
  cursor: var(--_fn-cursor, default);
  margin: 0 var(--_fn-mx, rem(5));

  &:where([data-disabled]) {
    cursor: not-allowed;

    @mixin where-light {
      background-color: var(--mantine-color-gray-1);
      color: var(--mantine-color-gray-5);
    }

    @mixin where-dark {
      background-color: var(--mantine-color-dark-5);
      color: var(--mantine-color-dark-3);
    }
  }

  &[data-fluid] {
    --_fn-spacing: calc(var(--mantine-spacing-xs) / 1.5)
      var(--mantine-spacing-sm);
    --_fn-mx: 0;
    --_fn-justify-content: start;
    [data-pos-left] {
      margin-right: var(--mantine-spacing-xs);
    }
  }

  &[data-interactive] {
    --_fn-cursor: pointer;
    border-radius: var(--mantine-radius-sm);

    @mixin hover {
      @mixin light {
        --_fn-bg: var(--_fn-hover-color-default);
      }

      @mixin dark {
        --_fn-bg: var(--mantine-color-dark-5);
      }
    }
  }

  [data-mantine-color-scheme] &[data-active] {
    --_fn-bg: var(--mantine-primary-color-light);
    --_fn-color: var(--mantine-primary-color-light-color);

    @mixin hover {
      --_fn-bg: var(--mantine-primary-color-light-hover);
    }
  }

  @mixin light {
    --_fn-bg: transparent;
  }

  @mixin dark {
    --_fn-bg: var(--mantine-color-dark-6);
  }
}

.fnLabel {
  flex: 1 1 0;
}

.fnGroup {
  display: flex;
  background-color: var(
    --publish-backdrop-color-default,
    var(--_fn-backdrop-color-default)
  );
  border: rem(1px) solid var(--_fn-bd);
  border-radius: var(--mantine-radius-md);
  overflow: hidden;
  padding: rem(5px) rem(10px);
  backdrop-filter: var(--publish-backdrop-filter, var(--_fn-backdrop-filter));

  @mixin light {
    --_fn-bd: var(--mantine-color-gray-2);
  }

  @mixin dark {
    --_fn-bd: var(--mantine-color-dark-4);
  }
}

.linkEditor {
  display: flex;
}

.linkEditorInput {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.linkEditorExternalFn {
  background-color: var(--_fn-bg);
  border: rem(1px) solid var(--_fn-bd);
  color: var(--_fn-color, var(--mantine-color-text));
  height: rem(24px);
  width: rem(24px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--mantine-radius-default);

  [data-mantine-color-scheme] &[data-active] {
    --_fn-bg: var(--mantine-primary-color-light);
    --_fn-color: var(--mantine-primary-color-filled);

    @mixin hover {
      --_fn-bg: var(--mantine-primary-color-light-hover);
    }
  }

  @mixin light {
    --_fn-bg: var(--mantine-color-white);
    --_fn-bd: var(--mantine-color-gray-4);
  }

  @mixin dark {
    --_fn-bg: var(--mantine-color-dark-7);
    --_fn-bd: var(--mantine-color-dark-4);
  }
}

.linkEditorSave {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
