:root {
  --contexify-zIndex: 666;
  --contexify-menu-minWidth: 180px;
  --contexify-menu-padding: rem(4px);
  --contexify-menu-radius: var(--mantine-radius-default);
  --contexify-menu-bgColor: #ffffff40;
  --contexify-menu-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  --contexify-menu-negatePadding: var(--contexify-menu-padding);

  --contexify-separator-color: rgba(0, 0, 0, 0.1);
  --contexify-separator-margin: 5px 3px;
  --contexify-itemContent-padding: calc(var(--mantine-spacing-xs) / 1.5)
    var(--mantine-spacing-sm);
  --contexify-activeItem-radius: 4px;
  --contexify-item-color: #333;
  --contexify-activeItem-color: #333;
  --contexify-activeItem-bgColor: #cecece50;
  --contexify-rightSlot-color: #6f6e77;
  --contexify-activeRightSlot-color: #333;
  --contexify-arrow-color: #6f6e77;
  --contexify-activeArrow-color: #333;
}

@mixin focus-swag {
  color: var(--contexify-activeItem-color);
  background-color: var(--contexify-activeItem-bgColor);
  border-radius: var(--contexify-activeItem-radius);
}

@function negateMenuPadding() {
  @return calc(-1 * var(--contexify-menu-negatePadding));
}

// triggered when user select item from the context menu
@keyframes contextmenu_feedback {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}


.contextmenu_willLeave-disabled {
  pointer-events: none;
}

.contexify {
  position: fixed;
  opacity: 0;
  user-select: none;
  // background-color: var(--contexify-menu-bgColor);
  //@todo
  background-color: #ffffff4a;

  backdrop-filter: saturate(180%) blur(10px);
  box-sizing: border-box;
  box-shadow: var(--contexify-menu-shadow);
  border-radius: var(--contexify-menu-radius);
  padding: var(--contexify-menu-padding);
  min-width: var(--contexify-menu-minWidth);
  z-index: var(--contexify-zIndex);

  &_submenu-isOpen,
  &_submenu-isOpen > &_itemContent {
    @include focus-swag;
  }

  // target submenu arrow
  &_submenu-isOpen > &_itemContent &_rightSlot {
    color: var(--contexify-activeArrow-color);
  }

  &_submenu-isOpen > &_submenu {
    pointer-events: initial;
    opacity: 1;
  }

  & &_submenu {
    position: absolute;
    pointer-events: none;
    transition: opacity 0.265s;

    /* Initial submenu position */
    top: negateMenuPadding();
    left: 100%;

    &-bottom {
      bottom: negateMenuPadding();
      top: unset;
    }

    &-right {
      right: 100%;
      left: unset;
    }
  }

  &_separator {
    // height: 1px;
    border: 1px var(--contexify-separator-color) dashed;
    cursor: default;
    margin: var(--contexify-separator-margin);
    // background-color: var(--contexify-separator-color);
  }

  &_willLeave-disabled {
    pointer-events: none;
  }

  &_item {
    cursor: pointer;
    position: relative;

    &:focus {
      outline: 0;
    }

    &:not(&-disabled):hover > .contextmenu_itemContent .contextmenu_rightSlot,
    &:focus .contextmenu_rightSlot {
      color: var(--contexify-activeRightSlot-color);
    }

    &:not(&-disabled)[aria-haspopup]
      > .contextmenu_itemContent
      .contextmenu_rightSlot {
      color: var(--contexify-arrow-color);
    }

    // triggered by keyboard navigation
    &[aria-haspopup]:focus > .contextmenu_itemContent .contextmenu_rightSlot,
    &:not(&-disabled)[aria-haspopup].contextmenu_submenu-isOpen
      > .contextmenu_itemContent
      .contextmenu_rightSlot,
    &:not(&-disabled)[aria-haspopup]:hover
      > .contextmenu_itemContent
      .contextmenu_rightSlot {
      color: var(--contexify-activeArrow-color);
    }

    &:not(&-disabled):hover > &Content,
    &:not(&-disabled):focus > &Content {
      @include focus-swag;
    }

    &:not(&-disabled):hover > .contextmenu_submenu {
      pointer-events: initial;
      opacity: 1;
    }

    &-disabled {
      cursor: default;
      opacity: 0.5;
    }
    &Content {
      padding: var(--contexify-itemContent-padding);
      display: flex;
      align-items: center;
      white-space: nowrap;
      color: var(--contexify-item-color);
      position: relative;
    }

    &-feedback {
      animation: contextmenu_feedback 0.12s both;
    }
  }
}
